* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

.btn {
  border: 2px solid hsl(0deg, 0%, 41%);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
}
.btn:hover {
  color: hsl(0deg, 0%, 8%);
  border-color: hsl(0deg, 0%, 8%);
}

@-webkit-keyframes fadeIn {
  0% {
    transform: scale(1);
    transform: rotate(90deg);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(1);
    transform: rotate(90deg);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    transform: scale(1);
    transform: rotate(-90deg);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeOut {
  0% {
    transform: scale(1);
    transform: rotate(-90deg);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: hsl(0deg, 0%, 98%);
}
body header {
  height: 8rem;
  width: 100%;
  padding: 0 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body header .header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body header .header-left nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body header .header-left nav ul {
  display: flex;
  align-items: center;
}
body header .header-left nav ul li {
  position: relative;
  margin-left: 4rem;
}
body header .header-left nav ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 41%);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body header .header-left nav ul li a img {
  margin-left: 1rem;
  transition: all 1s;
}
body header .header-left nav ul li a:hover {
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  transform: scale(1.05);
}
body header .header-left nav ul li a.active {
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  transform: scale(1.05);
}
body header .header-left nav ul li a.active img {
  transform: rotate(-180deg);
}
body header .header-left nav ul li .features {
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20%);
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 41%);
  box-shadow: 0px 4px 14px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  position: absolute;
  top: 5rem;
  left: -7.1rem;
}
body header .header-left nav ul li .features .list {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .header-left nav ul li .features .list li {
  width: 100%;
  margin: 3px;
}
body header .header-left nav ul li .features .list li:not(:last-child) {
  margin-bottom: 2rem;
}
body header .header-left nav ul li .features .list li a {
  margin-left: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body header .header-left nav ul li .features .list li a img {
  margin: 0;
  margin-right: 1.5rem;
}
body header .header-left nav ul li .features.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
body header .header-left nav ul li .company {
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20%);
  background-color: white;
  color: hsl(0deg, 0%, 41%);
  box-shadow: 0px 4px 14px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  position: absolute;
  top: 5rem;
  left: 1.4rem;
}
body header .header-left nav ul li .company .list {
  width: 11.7rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .header-left nav ul li .company .list li {
  width: 100%;
  margin: 3px;
}
body header .header-left nav ul li .company .list li:not(:last-child) {
  margin-bottom: 2rem;
}
body header .header-left nav ul li .company .list li a {
  margin-left: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body header .header-left nav ul li .company .list li a img {
  margin: 0;
  margin-right: 1.5rem;
}
body header .header-left nav ul li .company.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
@media (max-width: 600px) {
  body header .header-left nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(0deg, 0%, 98%);
    width: 63%;
    height: 100vh;
    box-shadow: -215px 1px 0px 1px rgba(0, 0, 0, 0.6);
    -webkit-animation: fadeIn 0.5s forwards;
            animation: fadeIn 0.5s forwards;
  }
  body header .header-left nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 9rem;
    padding-left: 2.5rem;
  }
  body header .header-left nav ul li {
    margin: 0;
    margin-bottom: 2.5rem;
  }
  body header .header-left nav ul li a {
    justify-content: flex-start;
  }
  body header .header-left nav ul li .features {
    background-color: transparent;
    box-shadow: none;
    top: 5rem;
    left: 0;
  }
  body header .header-left nav ul li .features.active {
    position: static;
  }
  body header .header-left nav ul li .company {
    background-color: transparent;
    box-shadow: none;
    top: 5rem;
    left: 0;
  }
  body header .header-left nav ul li .company.active {
    position: static;
  }
  body header .header-left nav .nav-right {
    align-self: center;
    justify-content: center;
    width: 100%;
  }
  body header .header-left nav .nav-right ul {
    padding: 0;
    align-items: center;
  }
  body header .header-left nav .nav-right ul li {
    margin: 0;
  }
  body header .header-left nav .nav-right ul li a {
    padding: 1.5rem 6rem;
  }
}
body header .header-right {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body header .header-right .menu {
  display: none;
}
body header .header-right nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body header .header-right nav ul {
  display: flex;
  align-items: center;
}
body header .header-right nav ul li {
  position: relative;
  margin-left: 4rem;
}
body header .header-right nav ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 41%);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body header .header-right nav ul li a img {
  margin-left: 1rem;
  transition: all 1s;
}
body header .header-right nav ul li a:hover {
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  transform: scale(1.05);
}
body header .header-right nav ul li a.active {
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  transform: scale(1.05);
}
body header .header-right nav ul li a.active img {
  transform: rotate(-180deg);
}
body header .header-right nav ul li .features {
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20%);
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 41%);
  box-shadow: 0px 4px 14px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  position: absolute;
  top: 5rem;
  left: -7.1rem;
}
body header .header-right nav ul li .features .list {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .header-right nav ul li .features .list li {
  width: 100%;
  margin: 3px;
}
body header .header-right nav ul li .features .list li:not(:last-child) {
  margin-bottom: 2rem;
}
body header .header-right nav ul li .features .list li a {
  margin-left: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body header .header-right nav ul li .features .list li a img {
  margin: 0;
  margin-right: 1.5rem;
}
body header .header-right nav ul li .features.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
body header .header-right nav ul li .company {
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20%);
  background-color: white;
  color: hsl(0deg, 0%, 41%);
  box-shadow: 0px 4px 14px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  position: absolute;
  top: 5rem;
  left: 1.4rem;
}
body header .header-right nav ul li .company .list {
  width: 11.7rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .header-right nav ul li .company .list li {
  width: 100%;
  margin: 3px;
}
body header .header-right nav ul li .company .list li:not(:last-child) {
  margin-bottom: 2rem;
}
body header .header-right nav ul li .company .list li a {
  margin-left: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body header .header-right nav ul li .company .list li a img {
  margin: 0;
  margin-right: 1.5rem;
}
body header .header-right nav ul li .company.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
@media (max-width: 600px) {
  body header .header-right nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(0deg, 0%, 98%);
    width: 63%;
    height: 100vh;
    box-shadow: -215px 1px 0px 1px rgba(0, 0, 0, 0.6);
    -webkit-animation: fadeIn 0.5s forwards;
            animation: fadeIn 0.5s forwards;
  }
  body header .header-right nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 9rem;
    padding-left: 2.5rem;
  }
  body header .header-right nav ul li {
    margin: 0;
    margin-bottom: 2.5rem;
  }
  body header .header-right nav ul li a {
    justify-content: flex-start;
  }
  body header .header-right nav ul li .features {
    background-color: transparent;
    box-shadow: none;
    top: 5rem;
    left: 0;
  }
  body header .header-right nav ul li .features.active {
    position: static;
  }
  body header .header-right nav ul li .company {
    background-color: transparent;
    box-shadow: none;
    top: 5rem;
    left: 0;
  }
  body header .header-right nav ul li .company.active {
    position: static;
  }
  body header .header-right nav .nav-right {
    align-self: center;
    justify-content: center;
    width: 100%;
  }
  body header .header-right nav .nav-right ul {
    padding: 0;
    align-items: center;
  }
  body header .header-right nav .nav-right ul li {
    margin: 0;
  }
  body header .header-right nav .nav-right ul li a {
    padding: 1.5rem 6rem;
  }
}
body .container {
  width: 100%;
  padding: 0 1.5rem;
  max-width: 113rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .container .text {
  width: 50%;
}
body .container .text h1 {
  font-size: 8.1rem;
  margin-bottom: 5rem;
}
body .container .text p {
  color: hsl(0deg, 0%, 41%);
  max-width: 80%;
  margin-bottom: 8rem;
}
body .container .text .btn {
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border: none;
  padding: 2rem 3rem;
  font-weight: 700;
  transition: all 0.3s;
}
body .container .text .btn:hover {
  border: 1px solid hsl(0deg, 0%, 8%);
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  transform: scale(1.05);
}
body .container .text .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14rem;
}
body .container .text .icons li:not(:first-child) {
  margin-left: 4rem;
}
body .container .image {
  width: 50%;
  padding-left: 8rem;
}
body .container .image .img-mobile {
  display: none;
}
body .attribution {
  margin: 4rem auto 2rem auto;
  text-align: center;
  font-size: 1rem;
}
body .attribution a {
  color: hsl(228deg, 45%, 44%);
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  body header {
    margin: 0;
  }
  body header .header-right {
    width: auto;
    flex-direction: column;
  }
  body header .header-right .menu {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 10;
    display: block;
    -webkit-animation: fadeOut 0.5s forwards;
            animation: fadeOut 0.5s forwards;
  }
  body header .header-right .menu .icon-close {
    opacity: 0;
    height: 0;
  }
  body header .header-right .menu.active {
    -webkit-animation: fadeIn 0.5s forwards;
            animation: fadeIn 0.5s forwards;
  }
  body header .header-right .menu.active .icon-menu {
    opacity: 0;
  }
  body header .header-right .menu.active .icon-close {
    opacity: 1;
    height: 100%;
  }
  body header .header-right nav {
    display: none;
  }
  body header .header-right nav.active {
    display: block;
  }
  body .container {
    flex-direction: column-reverse;
    text-align: center;
  }
  body .container .text {
    width: 100%;
  }
  body .container .text h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  body .container .text p {
    font-size: 1.6rem;
    max-width: 100%;
    margin-bottom: 5rem;
    line-height: 2.5rem;
  }
  body .container .text .icons {
    margin-top: 8rem;
  }
  body .container .image {
    padding: 0;
    width: 100%;
  }
  body .container .image .img-desktop {
    display: none;
  }
  body .container .image .img-mobile {
    display: block;
    max-width: 108.6%;
    margin-left: -1.5rem;
    margin-bottom: 5rem;
  }
}/*# sourceMappingURL=main.css.map */